.preset-container {
  min-height: 140vh;
  padding: 5%;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  .preset-container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
    margin: 5vh;
    h1 {
      text-align: center;
    }
    p {
      margin: auto;
      width: 40%;
      text-align: center;
    }
    button {
      padding: 3px 15px;
      margin: 10px 0;
      background-color: #fff;
      border-radius: 15px;
      color: black;
      border: #ffb6c1 2px solid;
      outline: none;
      width: 25vw;

      cursor: pointer;
      &:hover {
        background-color: #ffb6c1;
      }
      p {
        font-size: 16px;
        text-transform: uppercase;
        margin: 0 auto;
      }
    }
  }
  a {
    color: #ffb6c1;
    &:hover {
      text-decoration: underline;
    }
  }
  .carousel,
  .slide {
    height: 500px;
    width: 360px;
    margin: 5vh 0;
  }
  .carousel {
    max-height: 500px;
    width: 360px;

    .carousel-inner {
      .carousel-item {
        div {
          max-height: 500px;
          width: 360px;
        }
      }
    }
    img {
      height: 500px;
      width: 100%;
    }
  }
  // .preset-split {
  //   // display: flex;
  //   // gap: 3vw;
  //   // padding: 0;
  //   height: 500px;
  //   .preset-display-container {
  //     display: flex;
  //     flex-direction: column;
  //     width: 50vw;

  //     .preset-description {
  //       margin-top: 8vh;
  //       font-size: 1.2rem;
  //       width: 100%;
  //     }
  //   }

  //   .preset-purchase-container {
  //     display: flex;
  //     margin-top: 10vh;
  //     flex-direction: column;
  //     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  //     width: 30vw;
  //     height: 23vh;
  //     padding: 15px;
  //     background-color: white;
  //     border-radius: 15px;
  //     h2 {
  //       text-align: center;
  //     }
  //     button {
  //       padding: 0 15px;
  //       margin: auto 0;
  //       background-color: #fff;
  //       border-radius: 15px;
  //       color: black;
  //       border: #ffb6c1 2px solid;
  //       outline: none;

  //       cursor: pointer;
  //       &:hover {
  //         background-color: #ffb6c1;
  //       }
  //       p {
  //         font-size: 22px;
  //         text-transform: uppercase;
  //         margin: 0 auto;
  //       }
  //     }
  //   }
  // }
  .preset-disclaimer-wrapper {
    width: 100%;
    display: grid;
    justify-content: space-around;

    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 10vh;
    .preset-disclaimer-content {
      width: 400px;
      h4 {
        font-size: 20px;
        font-weight: bold;
      }
      p {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .preset-container {
    min-height: 100vh;
    .preset-container-title {
      p {
        width: 100%;
      }
      button {
        width: 40vw;
        font-size: 26px;
      }
    }
    .carousel,
    .slide {
      height: 500px;
      width: 360px;
    }
    .carousel {
      height: 500px;
      width: 100%;

      .carousel-inner {
        .carousel-item {
          div {
            height: 400px;
            width: 360px;
          }
        }
      }
      img {
        width: 100%;
      }

      // .preset-split {
      //   flex-direction: column;
      //   min-height: 80vh;
      //   width: 100%;
      //   height: 120vh;
      //   .preset-display-container {
      //     margin: auto;
      //     display: flex;
      //     flex-direction: column;

      //     width: 90%;
      //     .carousel,
      //     .slide {
      //       height: 500px;
      //     }
      //     .carousel {
      //       height: 500px;
      //       width: 100%;

      //       .carousel-inner {
      //         .carousel-item {
      //           div {
      //             height: 500px;
      //           }
      //         }
      //       }
      //       img {
      //         width: 100%;
      //         object-fit: cover;
      //       }
      //     }
      //   }
      // .preset-purchase-container {
      //   display: flex;

      //   width: 80%;
      //   height: 15vh;
      //   padding: 15px;
      //   margin: 0 auto;
      // }
    }
    .preset-disclaimer-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      .preset-disclaimer-content {
        width: fit-content;
      }
    }
  }
}
