.HomeImageGrid-Container {
  width: 100vw;
  padding: 0 5%;
  margin: 5vh 0;
  h1 {
    font-size: 2rem;
  }
  .HomeImageGrid {
    display: flex;
    align-items: center;
    gap: 5vw;
    overflow-y: scroll;
    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }
  }
}
