.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: white;
  height: 10vh;

  a {
    text-decoration: none;
  }
  .logo {
    color: #333333;
    font-size: 30px;
    text-transform: uppercase;
  }
  .navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    li {
      list-style-type: none;
      align-self: center;
      a {
        color: #333333;
        font-size: 20px;
        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}

.snip-header {
  background: #663399;
}

.snip-layout__main-container {
  border: 2px solid black;
  padding: 3px;
}
