.error-pages {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-size: 5rem;
  }
  h5 {
    margin-top: 5vh;
  }
  a {
    color: #ffb6c1;
  }
}
