.Catalogue {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 5%;
}

@media screen and (max-width: 600px) {
  .Catalogue {
    padding: 5% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    //display: flex
    // justify-content: space-around;
    width: inherit;
    margin-bottom: 10vh;
  }
}

@media screen and (min-width: 900px) {
  .Catalogue {
    margin-bottom: 10vh;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }

  .Catalogue__item {
    width: 28%;
  }
}
