.Catalogue {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 5%;
}

@media screen and (max-width: 600px) {
  .Catalogue {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
    .preset-card {
      transform: none;
      margin: 5vh auto;
      width: 80%;
      height: 55vh;
      img {
        object-fit: cover;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .Catalogue {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .Catalogue__item {
    width: 28%;
  }
}
