footer {
  padding: 5%;
  background-color: #edece8;
  height: 50;

  .footer-image-text {
    display: flex;
    align-items: center;
    height: 10vh;
    gap: 5vw;
    img {
      border-radius: 50%;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .footer-links {
    display: flex;
    margin-top: 2vh;
    gap: 10vw;
    li {
      margin-top: 2vh;
    }
    a {
      color: black;
      text-decoration: none;
      font-size: 1.15rem;
    }
  }
}
