.preset-card {
  background-color: #fff;
  width: 25vw;
  height: 45vh;
  margin: 5%;
  transition: 0.5s ease-in;
  position: relative;
  // &:hover {
  //   transform: scale(1.1);
  // }
  a {
    height: 100%;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: inherit;
    display: block;
  }
  .preset-card-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #faebd7;

    // margin-bottom: 3vh;

    h3,
    .preset-card-description {
      margin: 2%;
    }

    .preset-card-description {
      width: 250px;
      height: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h3 {
      font-size: 1.3rem;
      text-transform: uppercase;
    }
    .preset-card-price-addcart {
      display: flex;
      flex-direction: column;
      height: 50%;
      align-items: center;
      padding: 0 2%;
      justify-content: space-between;
      margin-top: 2vh;
      p {
        margin: auto 0;
        font-size: 1rem;
      }
      .snipcart-add-item {
        margin: 15px;
      }
      button {
        padding: 5px 15px;
        font-size: 20px;
        width: 20vw;
        min-height: 3vh;
        background-color: #fff;
        border-radius: 15px;
        color: black;
        border: #ffb6c1 2px solid;
        outline: none;

        cursor: pointer;
        &:hover {
          background-color: #ffb6c1;
        }
        p {
          margin: 0 auto;
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }

    .preset-card-text {
      color: #333333;
      font-size: 20px;
      position: absolute;
      top: 35%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: auto;
    }
  }
}

.preset-card-container:hover {
  opacity: 100;
}

@media screen and (max-width: 600px) {
  .preset-link-wrapper {
    width: 25vw;
    height: 45vh;
  }
  .preset-card {
    margin: 3vh auto;

    width: 180px;
    height: 23vh;

    img {
      width: 100%;
      height: 100%;
    }
    .preset-card-container {
      .preset-card-text {
        width: 100%;
        min-height: 50%;
        h3 {
          font-size: 20px;
          margin: 0;
        }
        .preset-card-price-addcart {
          width: 100%;
          height: inherit;
          margin: 0 auto;

          button {
            width: 30vw;
            padding: 0;
            margin: 5px 0;
            p {
              font-size: 12px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
